body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #ffffff;
    margin: 0px;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #DB534F;
}

h1 {
    font-size: 90px;
    margin: 0px;
}

h2 {
    font-size: 50px;
    margin: 0px;
}


h3 {
    font-size: 40px;
    margin: 0px;
}

a {
    color: white;
}

img {
    border-radius: 15px;
    height: 100%;
}

.card {
    width: 1200px;
    height: 600px;
    border-radius: 15px;
    background-color: #243646;
    align-self: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.card-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.card-text-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 30px;
}

.card-text-span {
    flex: 1;
    display: flex;
}

.card-text-span.large {
    flex: 2;
}

.dot-container {
    display: flex;
    margin: 10px;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    margin: 5px;
}

.dot.red {
    background-color: #FF5551;
}

.dot.yellow {
    background-color: #FFB43B;
}

.dot.green {
    background-color: #00C141;
}